





* {
  color: azure;
  overflow-x: hidden;
}

header {
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Press Start 2P', cursive;
}

.theme-bg {
  background-image: url(https://lh3.googleusercontent.com/proxy/wsny-WnTWDvXKWAMY41ibt4qnPfD9tY03TY2IIWAkFeNAHmo4ELaK5OY9JpTESdIYpEg9-_QpZXEJm8lSvsddn0Xs2ZLMGrznC-YTPfzXDjTwJlAdfSzeFrS6A);
  background-size: cover;
  background-position: center;
}

.img-flip {
  transform: scaleX(-1)
}

.img-size {
  width: auto;
  height: 50vh;
}