





* {
  color: azure;
  overflow-x: hidden;
}

header {
  font-family: 'Press Start 2P', cursive;
}

body {
  font-family: 'Press Start 2P', cursive;
}

.theme-bg {
  background-image: url(https://pbs.twimg.com/media/EVLyO8VVAAIt1ru.jpg:large);
  background-size: cover;
  background-position: center;
}

.img-flip {
  transform: scaleX(-1)
}

.img-size {
  width: auto;
  height: 50vh;
}